<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="SignInModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="SignInModal">Sign In</h1>
        </div>
        <div class="modal-body">
          <form [formGroup]="signInForm">
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" class="form-control" placeholder="Ad" formControlName="name" />
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" class="form-control" placeholder="Soyad" formControlName="surname" />
                </div>
              </div>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" class="form-control" placeholder="E-Mail" formControlName="email" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" class="form-control" placeholder="Password" formControlName="password" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn"><i class="bi bi-facebook"></i></button>
          <button type="submit" class="btn btn-primary ms-auto" (click)="signIn(signInForm.value)">Sign In</button>
        </div>
      </div>
    </div>
  </div>