<div class="container-fluid">
  <div class="row height d-flex justify-content-center align-items-center ">
    <div class="col-md-8">
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control"
          placeholder="Ürününüzün ID değerini biliyorsanız girin aksi taktirde Ürün adı üzerinden arama yapılacaktır">
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let urun of urunler; index as i" class="card text-black mx-2 my-2" style="width: 18rem;">
      <i class=" fa-lg pt-3 pb-1 px-3"></i>
      <img
        src="https://zaferayan.gallerycdn.vsassets.io/extensions/zaferayan/lorem-picsum/1.0.1/1612879890809/Microsoft.VisualStudio.Services.Icons.Default"
        class="card-img-top" />
      <div class="card-body">
        <div class="text-center">
          <h5 class="card-title">{{urun.name}}</h5>
          <p class="text-muted mb-4">{{i}}</p>
        </div>
        <div>
          <div class="d-flex justify-content-between">
            <span>Fiyat</span><span>{{urun.price}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span></span><span></span>
          </div>
          <div class="d-flex justify-content-between">
            <span></span><span></span>
          </div>
        </div>
        <div class="d-flex justify-content-between total font-weight-bold mt-1">
          <span></span><span></span>
        </div>
      </div>
      <div class="row mb-1 ">
        <div class="d-flex  justify-content-evenly ">
          <div class="col-md-6 w-auto">
            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateProductModal"
              (click)="setUrun(i)">Detaylar</button>
          </div>
          <!--<div class="col-md-6 w-auto"  appStatus [id]="urun.id" [status]="urun.isActive" [controller]="'products'">-->
            <div class="col-md-6 w-auto">
          <button *ngIf="urun.isActive" class="btn btn btn-danger btn-sm" appStatus [product]="urun" (refreshPage)="getProducts()">Yayından Kaldır</button>
          <button *ngIf="!urun.isActive" class="btn btn btn-success btn-sm" appStatus [product]="urun" (refreshPage)="getProducts()">Yayına Al</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Update Modal -->

<div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{0+0}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>