<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand">
      <span class="align-middle">AdminKit</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle" routerLink="/admin">Ana
            Sayfa</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="collapsed sidebar-link" aria-expanded="false">
          <i class="align-middle" data-feather="sliders"></i><span class="align-middle"
            routerLink="products">Ürünler</span>
          <button class="ms-5 btn  bg-transparent" *ngIf="!sidebarOpen" (click)="changeSidebarStatus()"
            data-bs-toggle="collapse" data-bs-target="#home-collapse"><i class="bi bi-caret-down-fill"></i></button>
          <button class="ms-5 btn  bg-transparent" *ngIf="sidebarOpen" (click)="changeSidebarStatus()"
            data-bs-toggle="collapse" data-bs-target="#home-collapse"><i class="bi bi-caret-up-fill"></i></button>
        </a>
        <div class="collapse ms-5" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
            <li class="sidebar-item"><a class="sidebar-link" routerLink="products/add" routerLinkActive="active"> <i
                  class="align-middle" data-feather="sliders"></i><span class="align-middle">Ürün Ekle</span></a></li>
          </ul>
        </div>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
        </a>
      </li>

      <li class="sidebar-header">
        Tools & Components
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="square"></i> <span class="align-middle">Buttons</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Cards</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Typography</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
        </a>
      </li>

      <li class="sidebar-header">
        Plugins & Addons
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link">
          <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
        </a>
      </li>
    </ul>
  </div>
</nav>