footer.footer {
    background: #fff;
    direction: ltr;
    padding: 1rem 0.875rem;
}

footer.footer ul {
    margin-bottom: 0;
}

@media (max-width: 767.98px) {
    footer.footer {
        width: 100vw;
    }
}

.text-muted {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
}

.list-inline,
.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}